@import url('https://fonts.googleapis.com/css?family=Orbitron');
* {
	margin: 0;
}

header {
	text-align: center;
	margin-bottom: 10px;
}

.scoreboard {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	margin: 10px 15px;
	padding: 20px;
	background: black;
	font-family: 'Orbitron', sans-serif;
	font-size: 1.5rem;
	color: yellow;
}

.column {
	justify-self: center;
	margin-bottom: 15px;
}

#player-score {
	justify-self: center;
	font-size: 81px;
}

#ties {
	justify-self: center;
	font-size: 81px;
}

#com-score {
	justify-self: center;
	font-size: 81px;
	color: yellow;
}

#choice {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
	margin: 15px 20px;
	height: 200px;
}

#player-choice > img {
	height: 150px;
	position: absolute;
	top: 0;
	left: 0;
}

#com-choice > img {
	height: 150px;
	position: absolute;
	top: 0;
	right: 0;
}

#result {
	margin: auto;
	padding: 15px;
	width: 50%;
	text-align: center;
	text-size: 2rem;
}

#play-area {
	padding:15px;
	margin: auto;
	text-size: 3em;
	text-align: center;
}

button {
	width: 300px;
	height: 100px;
}

